---
title: Getting Started - NICS Architecture Catalogue
---


<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="#main-content">Getting started</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/get-started" itemprop="item"><span itemprop="name">Getting started</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/trial-environment" itemprop="item"><span itemprop="name">Trial environment</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Getting started</h1>

        <p class="govuk-body">In order to use the catalogue you will need to either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#create-account">Create an account</a></li>
          <li><a class="govuk-link" href="#single-sign-on">Use single sign on with one of our supported identity providers</a></li>
        </ul>

        <p class="govuk-body">Once you have signed in successfully you will be able to perform an number of functions depending upon the role you have been assigned. Initially all users are assigned the <strong>reader</strong> role which means you can browse and search the catalogue. If you need to add to or update the catalogue you will need to be given the <strong>contributor</strong> role; please contact <a href="/suppport" class="govuk-link">support</a> to request this.</p>

        <h2 class="govuk-heading-m">Create an account</h2>
        <p class="govuk-body">You will need to provide the following in order to create an account:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Username</li>
          <li>A valid email address</li>
          <li>Password</li>
        </ul>
        <p class="govuk-body">Your account will not be accessible until you have validated your email address. You will be sent an email with a verification link in order to validate your email address. Once you have completed this step you will be able to access the catalogue.</p>
        <p class="govuk-body">If you forget your password you can reset it. You will need to provide the original email address you signed up with. You will be sent a email with a password reset link in it.</p>

        <h2 class="govuk-heading-m">Use single sign on</h2>
        <p class="govuk-body">You can sign on without creating an account if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>You have a GitHub account</li>
          <li>A Microsoft account</li>
        </ul>
        <p class="govuk-body">You will need to be a member of the NICS, have an account on NIGOV and use a device connected to the NICS network to avail of the Microsoft single sign on option.</p>

        <p class="govuk-body">We will ask your identity provider to provide your name and email address to us, so that we can identify you as a user of the architecture catalogue.</p>

      </div>
    </div>
  </div>
</main>
