---
title: Home - NICS Architecture Catalogue
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Technology components for the NICS and its delivery partners</h1>
        <div class="hero__inline-image">
          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
        </div>
        <p class="hero__description">
          This catalogue contains all of the solution building blocks (physical components) used by the NICS to build digital services for it's customers.
        </p>
        <a href="https://architecture-catalogue.staging.ea.digitalni.gov.uk" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Sign in to view the catalogue
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <p class="hero__paragraph">You will need to create an account or use single sign on via GitHub or Microsoft to view the catalogue.</p>
      </div>
    </div>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <section class="content-section product-page-!-border-bottom govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-l content-section__first-heading">View components that are part of the NICS Enterprise Architecture</h2>
          <p class="govuk-body">You can browse or search the catalogue of components used by the NICS to deliver digital solutions to it's customers. Catalogue entries have a status associated with their current level of approval for use. This allows solution builders to search for and select approved technologies quickly. It will also assist those supporting existing solutions by identifying those technology components that are approaching or have reached end of life.</p>
        </section>

        <section class="content-section content-section--with-top-border product-page-!-border-bottom govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-l content-section__first-heading">Update the architecture as new solutions are developed</h2>
          <p class="govuk-body">Solution designers should update the catalogue when new technologies are employed (including new versions of existing technologies). You will need to be assigned the role of 'contributor' to do this; please contact <a href='/support' class="govuk-link">support</a> if you need this role.</p>
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Plan changes based on component roadmaps</h2>
          <p class="govuk-body">Components have a status associated with them that indicates which stage they are at in their lifecycle. Components will progress through a number of status changes during their lifetime: evaluating, approved, retiring, unapproved and prohibited. Therefore by looking at the status of all the components in a solution it should be possible to plan the changes required to keep a solution in a fully supported and approved state.</p>
        </section>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Related content</h2>
          <ul class="related-items__list">
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/nics-enterprise-architecture-principles-itda">NICS Enterprise Architecture Principles</a></li>
            <li><a class="govuk-link" href="https://docs.ea.digitalni.gov.uk">Citizen Services Architecture</a></li>
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/northern-ireland-civil-service-ict-strategy-2017-2021">NICS ICT Strategy</a></li>
          </ul>
        </aside>
      </div>
    </div>
</main>
