---
title: Roadmap - NICS Architecture Catalogue
---


<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="#main-content">Features</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/features" itemprop="item"><span itemprop="name">Features</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Roadmap</h1>

        <h2 class="govuk-heading-m">What we are working on now</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Adding approval step to self-service account creation</li>
        </ul>

        <h2 class="govuk-heading-m">What we are working on next</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Catalogue export</li>
            <li>Queueing notifications</li>
            <li>Additional support options</li>
        </ul>
      </div>
    </div>
  </div>
</main>
